.title {
  font-size: 8em;
  color: #DAAA98;
  margin-top: 2em;
}

.titleSection {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleDate {
  font-size: 5em;
  color: #fff;
  margin-top: -.5em;
}

.titleHour {
  font-size: 2.5em;
  color: #fff;
  margin-top: -.2em;
  margin-bottom: 1em;
}

.titleContent {
  font-weight: 200;
  display: flex;
  position: absolute;
  inset: 0;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.titleBg {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 1;
}

.titleOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 60%;
  background-color: #000;
  z-index: 2;
}

.titleContent {
  z-index: 3;
  color: #fff;
}

.titleCountdown {
  margin-top: 2em;
}

.countdownLabel {
  font-size: 2em;
}

@media (max-width: 768px) {
  .titleContent {
    align-items: flex-start;
    justify-content: center;
    justify-self: center;
    flex-wrap: nowrap;
    height: 100vh;
  }

  .title {
    font-size: 3.5em;
    margin-top: 11vh;
  }

  .titleDate {
    font-size: 2em;
    cursor: pointer;
  }

  .titleHour {
    font-size: 1.5em;
    cursor: pointer;
  }

  .titleCountdown {
    position: absolute;
    bottom: 10vh;
  }

  .countdownLabel {
    font-size: 1.5em;
  }
}