.title {
  font-size: 8em;
  color: #DAAA98;
  margin-top: 2em;
}

.titleDate {
  font-size: 5em;
  color: #fff;
  margin-top: -.5em;
}

.titleHour {
  font-size: 2.5em;
  color: #fff;
  margin-top: -.2em;
  margin-bottom: 1em;
}

.titleContent {
  font-weight: 200;
}

.titleBg {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 1;
}

.titleOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 60%;
  background-color: #000;
  z-index: 2;
}

.titleContent {
  z-index: 3;
  color: #fff;
}

.titleCountdown {
  margin-top: 2em;
}

.countdownLabel {
  font-size: 2em;
}

@media (max-width: 768px) {
  .title {
    font-size: 3.5em;
    margin-top: 4em;
  }

  .titleDate {
    font-size: 2em;
  }

  .titleHour {
    font-size: 1.5em;
  }

  .countdownLabel {
    font-size: 1.5em;
  }
}