.locationMobileContent {
    background-image: url('/public/images/peach_background_30.png');
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.locationMobileText {
    flex: 1;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.locationMobileImages {
    flex: 1;
    position: relative;
    overflow: visible;
    display: inline-block;
}

.locationMobileImagesWrapper {
    position: relative;
}

.locationMobileMainImage {
    aspect-ratio: 1;
    width: 85vw;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #daaa98;
}

.locationMobileSmallImage {
    aspect-ratio: 1;
    width: 30vw;
    object-fit: cover;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    border: 2px solid #daaa98;
}

.locationMobileMapImage {
    width: 40vw;
    right: -10vw;
    display: none;
    position: absolute;
    top: 6vh;
    aspect-ratio: 1;
    cursor: pointer;
}

.locationMobileMapButton {
    margin-top: 2vh;
}

.locationMobileParkingButton {
    margin-top: 2vh;
    margin-bottom: 2vh;
    min-width: 0;
    min-height: 0;
    padding: 1vh 2vh !important;
    font-size: 1.5vh !important;
}

.locationMobileTitle {
    font-size: 2.3em;
}

.locationMobileSubtitle {
    font-size: 1.5em;
    margin-top: -.7em;
}

.locationMobileDescription {
    font-size: 1em;
    color: black;
    margin: 1em 3em 1em 3em;
    font-family: Cormorant;
    font-weight: 300;
}

.locationSlideInFromLeft {
    transform: translateX(-100%);
    transition: all 0.5s ease-out;
}

.locationSlideInFromRight {
    transform: translateX(100%);
    transition: all 0.5s ease-out;
}

.locationSlidedIn {
    transform: translateX(0);
    opacity: 1;
}