.weddingWitnesses {
    background-image: url('/public/images/peach_background_50.jpg');
    overflow: hidden;
    width: 100%;
}

.weddingWitnessesTitle {
    font-size: clamp(2rem, 5vw, 5rem);
}

.weddingWitnessesDescription {
    font-family: Cormorant;
    color: black;
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    margin-bottom: 2em;
}

.weddingWitnessesContent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-evenly;
    width: 100vw;
}

.secondWitness {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
}

.witnessImage {
    height: 40vh;
    aspect-ratio: 1;
    border-radius: 50%;
    border: solid 4px #daaa98;
    object-fit: cover;
}

.witnessText {
    font-size: 2em;
    color: black;
}

.witnessSlideInFromLeft {
    transform: translateX(-100%);
    transition: all 0.7s ease-out;
}

.witnessSlideInFromRight {
    transform: translateX(100%);
    transition: all 0.7s ease-out;
}

.witnessSlidedIn {
    transform: translateX(0);
    opacity: 1;
}

@media (max-width: 768px) {
    .weddingWitnesses {
        background-image: url('/public/images/peach_background_30.png');
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .weddingWitnessesContent {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .weddingWitnessesTitle {
        font-size: 2.7em;
    }

    .weddingWitnessesDescription {
        margin: 0 1em 1em 1em;
        font-size: 1em;
    }

    .witnessImage {
        height: 40vw;
        aspect-ratio: 1;
        margin-top: 2em;
    }
}