.memoriesContent {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-items: space-evenly;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

.memoriesText {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.memoriesTitle {
    font-size: 5em;
}

.memoriesDescription {
    font-size: 1.7em;
    width: 70%;
    font-family: Cormorant;
    font-weight: 200;
    color: black;
    margin-bottom: 1em;
}

.memoriesImageContainer {
    flex: 1;
}

.memoriesImage {
    height: 70vh;
    object-fit: cover;
    border-radius: 50%;
    border: solid 4px #daaa98;
    aspect-ratio: 1;
}

@media (max-width: 768px) {
    .memoriesContent {
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;
        justify-items: center;
        align-items: center;
        align-content: center;
    }

    .memoriesText {
        display: flex;
        margin-top: 7vh;
        justify-content: flex-end;
        margin-bottom: 2.2em;
        align-items: center;
    }

    .memoriesImageContainer {
        display: flex;
        justify-content: center;
        margin-top: 2.2em;
        align-items: flex-start;
    }

    .memoriesTitle {
        font-size: 2.5em;
    }

    .memoriesDescription {
        margin: 0 1em 1em 1em;
        font-size: 1.3em;
    }

    .memoriesImage {
        height: 80vw;
        aspect-ratio: 1;
    }
}