.memoriesContent {
    display: flex;
    flex-direction: row;
    background-color: white;
    
    width: 100vw;
    height: 100vh;
    /* Default, but explicitly set */
    flex-wrap: no-wrap;
    /* Allows wrapping if content is too wide */
    justify-content: center;
    /* Centers items horizontally */
    align-items: center;
    /* Aligns items vertically */
    gap: 10px;
    /* Adds a small space between the items */
}

.memoriesText {
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex: 1;
    align-items: center;
}

.memoriesTitle {
    font-size: clamp(2rem, 5vw, 5rem);
}

.memoriesDescription {
    font-size: 1.7em;
    width: 70%;
    font-family: Cormorant;
    font-weight: 200;
    color: black;
    margin-bottom: 1em;
}

.memoriesImageContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.memoriesImage {
    max-width: 40vw;
    max-height: 40vw;
    object-fit: cover;
    border-radius: 50%;
    border: solid 4px #daaa98;
    aspect-ratio: 1;
}

@media (max-width: 768px) {
    .memoriesContent {
        flex-direction: column;
        height: 100vh;
        justify-items: center;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .memoriesText {
        display: flex;
        flex: 0;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .memoriesImageContainer {
        display: inline-block;
        flex: 0;
        margin-top: 5vh;
    }

    .memoriesTitle {
        font-size: 2.5em;
    }

    .memoriesDescription {
        font-size: 1.3em;
    }

    .memoriesImage {
        height: 70vw;
        max-height: 70vw;
        max-width: 70vw;
        aspect-ratio: 1;
    }
}