.rsvpContent {
    display: flex;
    background-image: url('/public/images/peach_background_50.jpg');
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

.rsvpTitle {
    font-size: clamp(2rem, 5vw, 5rem);
}

.rsvpDescription {
    font-size: clamp(1rem, 2vw, 2.5rem);
    width: 65%;
    font-family: Cormorant;
    font-weight: 200;
    color: black;
}

.rsvpInputs {
    width: 35vw;
    display: flex;
    justify-items: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.rsvpInputText {
    width: 100%;
    font-family: Cormorant;
    font-size: 1.6em;
}

.rsvpInputMessage {
    font-size: 1.2em;
}

.rsvpButton {
    margin-top: 2vh;
}

.rsvpOurContacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 13vw;
}

.rsvpOurContact {
    font-family: Cormorant;
    font-weight: 200;
    font-size: 1.7em;
    color: black;
}

.rsvpPhone {
    color: #daaa98;
    font-weight: 500;
    cursor: pointer;
}

.rsvpThankYouTitle {
    font-size: clamp(1rem, 3vw, 6rem);
}

@media(max-width: 1300px) {
    .rsvpInputs {
        width: 55vw;
    }
}
@media(max-width: 768px) {
    .rsvpContent {
        background-image: url('/public/images/peach_background_30.png');
    }

    .rsvpTitle {
        font-size: clamp(2rem, 5vh, 5rem);
    }

    .rsvpDescription {
        font-size: 1.2em;
        width: 85%;
    }

    .rsvpInputs {
        width: 70vw;
    }

    .rsvpOurContacts {
        justify-content: space-evenly;
        width: 90vw;
    }

    .rsvpThankYouTitle {
        font-size: clamp(1rem, 10vw, 6rem);
    }

    .rsvpOurContact {
        font-size: 1.3em;
    }
}